body {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.previous-rows {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.next-rows {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  height: 2vh;
  width: 100%;
  transition: all ease-in 1s;
}

.row::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background: inherit;
  margin-top: -2px;
}

.row-main {
  color: #fff;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
}

.row-main::before {
  margin-top: -10vh;
}

.row-main::after {
  display: none;
}

@media only screen and (max-width: 490px) {
  .row-main {
    font-size: 4rem;
    letter-spacing: 0;
  }
}

@media only screen and (max-height: 420px) {
  .row-main {
    font-size: 4.5rem;
  }
}
