#main-title {
    font-size: 2.5rem;
    
}

.fa-remove {
    position: relative;
    right: -2rem;
    cursor: pointer;
    transform: scale(1.2);
    color: rgba(183, 28, 28, .7);
}

.fa-remove:hover {
    color: #d32f2f;
}

#toast-container {
    top: auto;
    right: auto;
    bottom: 0;
    transform: scale(.9);
}

#card-action {
    padding-bottom: 5rem;
}

.clear-tasks:hover {
    background-color: #d32f2f !important;
}
