* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

h1,
h2 {
  margin: 1rem 0;
}

#cat-pic {
  display: none;
  max-width: 60%;
  max-height: 50vh;
  border-radius: 5px;
}

@media only screen and (max-width: 420px) {
  #cat-pic {
    max-width: 90%;
  }
}

#cat-name {
  display: none;
}

#counter {
  display: none;
}

#cat-nav {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1rem 0;
  background: rgba(41, 41, 41, 0.1);
}

#cat-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  color: #fff;
}

.nav-link {
  cursor: pointer;
}

#cat-list .active {
  text-decoration: underline;
}

.wrapper {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
}

.forest {
  background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.blanket {
  background: linear-gradient(to right, #654ea3, #eaafc8);
}

.moon {
  background: linear-gradient(to top, #355c7d, #6c5b7b, #c06c84);
}

.watcher {
  background: linear-gradient(to bottom, #00b4db, #0083b0);
}
