body {
  text-align: center;
  background: #0f0f23;
  color: rgb(207, 207, 207);
  min-height: 100vh;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

h1,
h3,
h4 {
  font-weight: 300;
}

#left-hud {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.05s;
  padding: 0 1rem;
  background: rgba(19, 19, 25, 0.7);
  text-align: left;
  border-radius: 5px;
}

#log {
  padding: 0 1rem;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.05s;
  background: rgba(19, 19, 25, 0.7);
  border-radius: 5px;
}

#log-list {
  padding: 0;
  list-style: none;
}

#map-input {
  resize: none;
  background: #131319;
  color: #ddd;
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 5px;
  display: block;
  outline-color: #ddd;
  margin: -2rem auto 0.5rem auto;
  transition: all 0.1s ease-in-out;
}

#input-submit,
#auto-button,
#auto-speed {
  font-size: 110%;
  font-family: 'Source Code Pro', monospace;
  background: #131319;
  color: #ddd;
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 3px;
  padding: 5px;
  outline-color: #ddd;
}

#input-submit {
  text-shadow: 0 0 20px rgba(236, 236, 236, 0.753);
}

#tick-setting {
  font-family: 'Source Code Pro', monospace;
  background: #131319;
  font-size: 110%;
  padding: 5px;
  color: #ddd;
  outline-color: #ddd;
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 3px;
  margin: 1rem 0;
  transition: all 0.1s ease-in-out;
  width: 6rem;
  min-height: 1rem;
}

#auto-button,
#auto-display {
  margin: 0;
  display: none;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

#auto-display {
  padding-bottom: 1rem;
}

#auto-speed {
  width: 6rem;
  padding: 4.3px;
  transition: all 0.1s ease-in-out;
}

#map {
  white-space: pre-wrap;
  text-align: center;
}

.disabled {
  transform: scaleY(0);
}

.cart {
  font-weight: 900;
  color: #00cc00;
  text-shadow: 0 0 7px #6aec94, 0 0 5px #00cc00;
}

#map p {
  margin: 0;
}

@media only screen and (max-width: 1250px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 80%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
  p {
    font-size: 60%;
  }
}
