body {
  font: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow);
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  width: 100%;
}

h3 {
  font: 900 1em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

#current {
  display: none;
  margin-top: 18rem;
}

#instruction {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

input {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  opacity: 0.8;
}
